{% extends "modules/layout" %}
{% from "modules/list" import list %}

{% block title %}Privacy Policy | {{ super() }}{% endblock %}

{% block page %}
  <article class="article container-very-tight pad-medium highlight-first">
    {% markdown %}
        Privacy Policy
        ==============

        In short, we only collect and use information that will help make our 
        products and services better. We never share any of your data unless 
        absolutely necessary (for example, preventing fraud or when legally 
        compelled to).

        ***


        The long version
        ----------------

        At Volcanic Pixels (the "Website", the "Service", Us", "We") we collect 
        and manage consumer data in accordance with this policy. If you have 
        any questions or comments regarding this Privacy Policy or its 
        enforcement then please contact us at <contact@platinummirror.com>.

        ### Information we collect and use
        
        We collect anonymous data from every visitor of the Website to monitor 
        traffic and fix bugs. For example, we collect information like IP 
        addresses, browser version, timestamp, page accessed.

        ### How we use your data

        We may use your personal information to:  
        
         - administer the website
         - improve your experience of the site by personalising the website
         - send statements and invoices to you
         - collect payments from you
         - send you general (non-marketing) communications
         - send you email notifications which you have explitly opted-in to
         - deal with enquiries or complaints
         - keep the website secure and prevent fraud
         - list you in the "Customers" section (we will remove you upon request)

        ### Changes to this policy

        We may amend this Privacy Policy from time to time. Use of information 
        we collect now is subject to the Privacy Policy in effect at the time 
        such information is used. If we make major changes in the way we collect 
        or use your information then we will notify you by posting an announcement 
        on the website or sending you an email.
    {% endmarkdown %}
  </article>
{% endblock %}